<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>
                  Name
                </ion-label>
                <ion-input class="teamNum" [(ngModel)]="name" (ionChange)="nameStore()">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label>
                  Team Number
                </ion-label>
                <ion-input class="teamNum" [(ngModel)]="teamNum" (ionChange)="teamNumStore()">
  
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-segment  [(ngModel)]="alliance" (ionChange)="allianceStore()">
                 <ion-grid>
                   <ion-row>
                    <ion-label>
                      Alliance Placement
                    </ion-label>
                   </ion-row>
                   <ion-row>
                     <ion-col size="4">
                       <ion-segment-button value="R1">
                         R1
                       </ion-segment-button>
                     </ion-col>
                     <ion-col size="4">
                       <ion-segment-button  value="R2">
                         R2
                       </ion-segment-button>
                     </ion-col>
                     <ion-col size="4">
                       <ion-segment-button  value="R3">
                         R3
                       </ion-segment-button>
                     </ion-col>
                   </ion-row>
                   <ion-row>
                     <ion-col size="4">
                       <ion-segment-button  value="B1">
                         B1
                       </ion-segment-button>
                     </ion-col>
                     <ion-col size="4">
                       <ion-segment-button  value="B2">
                         B2
                       </ion-segment-button>
                     </ion-col>
                     <ion-col size="4">
                       <ion-segment-button  value="B3">
                         B3
                       </ion-segment-button>
                     </ion-col>
                   </ion-row>
                 </ion-grid>
                </ion-segment>
              </ion-item>
              <ion-item>
                <ion-segment class="matchType" [(ngModel)]="matchType" (ionChange)="matchTypeStore()">
                  <ion-grid>
                    <ion-row>
                      <ion-label>
                        Match Type
                      </ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">
                        <ion-segment-button value="Q">
                          Q
                        </ion-segment-button>
                       </ion-col>
                       <ion-col size="3">
                        <ion-segment-button value="Quart">
                          QF
                        </ion-segment-button>
                      </ion-col>
                      <ion-col size="3">
                        <ion-segment-button value="Semi">
                          SF
                        </ion-segment-button>
                      </ion-col>
                      <ion-col size="3">
                        <ion-segment-button value="Final">
                          F
                        </ion-segment-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-segment>
              </ion-item>
              <ion-item>
                <ion-label>
                  Match Number
                </ion-label>
                <ion-input type="number" class="matchNum" [(ngModel)]="matchNum" (ionChange)="matchNumStore()">
  
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-segment  [(ngModel)]="win" (ionChange)="winStore()">
                  <ion-grid>
                    <ion-row>
                      <ion-label>
                        Who Will Win?
                      </ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-segment-button value="Blue">
                          Blue
                        </ion-segment-button>
                      </ion-col>
                      <ion-col>
                        <ion-segment-button value="Red">
                          Red
                        </ion-segment-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-segment>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card>
   <ion-row>
     <ion-col size="8"></ion-col>
     <ion-col>
      <ion-button  [routerLink]="['/second']" routerLinkActive="router-link-active"> Start</ion-button>
     </ion-col>
   </ion-row>
</ion-content>
