<ion-header [translucent]="true" style="display: none;">
  <ion-toolbar>
    <ion-title>
      Information <ion-icon name="person-circle-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>
                  Name
                </ion-label>
                <ion-input class="teamNum" [(ngModel)]="name" (ionChange)="nameStore()">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label>
                  Team Number
                </ion-label>
                <ion-input class="teamNum" [(ngModel)]="teamNum" (ionChange)="teamNumStore()">
  
                </ion-input>
              </ion-item>
              <ion-item>
                 <ion-grid>
                   <ion-row>
                    <ion-label>
                      Alliance Placement
                    </ion-label>
                   </ion-row>
                   <ion-row>
                   
                     <ion-grid>
                     
                       <ion-row>
                        <ion-segment [color]="colorMode" [(ngModel)]="allianceColor" (ionChange)="allianceStore()">
                        <ion-col>
                          <ion-segment-button  value="R">
                            Red
                          </ion-segment-button>
                        </ion-col>
                        <ion-col>
                          <ion-segment-button value="B">
                            Blue
                          </ion-segment-button>
                        </ion-col>
                      </ion-segment>
                    </ion-row>
                  
                  <ion-row>
                    <ion-segment [(ngModel)]="allianceNum" (ionChange)="allianceStore()">
                    <ion-col>
                      <ion-segment-button  value="1">
                        1
                      </ion-segment-button>
                    </ion-col>
                    <ion-col>
                      <ion-segment-button value="2">
                        2
                      </ion-segment-button>
                    </ion-col>
                    <ion-col>
                      <ion-segment-button value="3">
                        3
                      </ion-segment-button>
                    </ion-col>
                  </ion-segment>
                  </ion-row>
                     </ion-grid>
                   </ion-row>
                 </ion-grid>
              </ion-item>
              <ion-item>
                <ion-segment class="matchType" [(ngModel)]="matchType" (ionChange)="matchTypeStore()">
                  <ion-grid>
                    <ion-row>
                      <ion-label>
                        Match Type
                      </ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">
                        <ion-segment-button value="Q">
                          Q
                        </ion-segment-button>
                       </ion-col>
                       <ion-col size="3">
                        <ion-segment-button value="QF">
                          QF
                        </ion-segment-button>
                      </ion-col>
                      <ion-col size="3">
                        <ion-segment-button value="SF">
                          SF
                        </ion-segment-button>
                      </ion-col>
                      <ion-col size="3">
                        <ion-segment-button value="F">
                          F
                        </ion-segment-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-segment>
              </ion-item>
              <ion-item>
                <ion-label>
                  Match Number
                </ion-label>
                <ion-input type="number" class="matchNum" [(ngModel)]="matchNum" (ionChange)="matchNumStore()">
  
                </ion-input>
              </ion-item>
             
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card>
   <ion-row>
     <ion-col size="8"></ion-col>
     <ion-col>
      <ion-button  [routerLink]="['/second']" routerLinkActive="router-link-active"> Start</ion-button>
     </ion-col>
   </ion-row>
</ion-content>
